.cartitem {
  border: 1px solid black;
}

.actionBtnAdd {
  background-color: rgb(255, 255, 255);
  border: 1px solid green;
  border-radius: 3px;
  padding: 5px 15px;
  color: green;
}

.actionBtnRemove {
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  border-radius: 3px;
  padding: 5px 15px;
  margin-right: 5px;
  color: red;
}
