.Loginmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../assets/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Signupnmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../assets/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formbox {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  backdrop-filter: blur(10px); /* blur the background behind */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border */
  border-radius: 10px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;

  width: 500px;
  padding: 50px;
  border-radius: 10px;
  height: 50vh;
}

.forminput {
  width: 80%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #578e7e;
  color: white;
}

.forminput:focus {
  outline: none;
}

.inputbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginbtn {
  margin-left: 5px;
  width: 40%;
  background-color: #578e7e;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: white;
}

.registerbtn {
  background-color: #3f675c;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
}

.registerlink {
  width: 100%;
  text-decoration: none;
  color: white !important;
}
