.footer {
  width: 100%;
  background-image: url("../../assets/back3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5); /* black overlay at 50% */
  background-blend-mode: overlay; /* blends color with image */
}

.title {
  font-size: 1.25rem;
  color: rgb(230, 230, 230);
  margin-bottom: 3rem;
}

.footerLink {
  display: block;
  text-decoration: none;
  font-size: 0.85rem;
  color: white;
}

.footerLink:hover {
  color: rgb(223, 223, 223);
}

.sociallink {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  padding-right: 2rem;
}

.sociallink:first-child {
  color: green !important;
}

.sociallink:hover {
  color: rgb(223, 223, 223);
}
