.header {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;
}

.sec1 {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
}

.sec2 {
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: center;
}
