.navbar {
  background-color: #ffffff !important;
}

.navbar-nav {
  margin-right: 2rem;
}

.nav-item {
  margin-right: 1.8rem;
  font-size: 0.9rem;
}

.nav-link {
  color: #578e7e !important;
}

.nav-link.active {
  color: black !important;
}
.nav-link:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-right: 0 !important;
    margin-top: 1rem;
  }
}
