.mainDiv {
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1),
    rgba(125, 145, 139, 0.3)
  );
  width: 250px;
  height: 250px;
}

.innerDiv {
  border-radius: 50%;
  background-color: white;
  width: 100%;
  height: 100%;
}

.img {
  width: 100px;
  height: 100px;
  margin-top: -10px;
}

.h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

.p {
  font-size: 0.8rem;
  margin-top: 1rem;
}
